@model DoctorWebASP.Models.ObservacionMedica

@{
    ViewBag.Title = "Eliminar Observacion";
}

<h1 style="text-align:center;">Eliminar Observación Médica</h1>


<h3>Seguro que desea eliminarla?</h3>
<div>
    <h4>ObservacionMedica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indicacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a Observaciones Médicas", "Index")
        </div>
    }
</div>
