@model IEnumerable<DoctorWebASP.Models.ObservacionMedica>

@{
    ViewBag.Title = "Index";
}

<h1 style="text-align:center;">Panel de Observaciones Médicas</h1>


<p>
    @Html.ActionLink("Crear nueva Observación Médica", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnostico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indicacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ObservacionMedicaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ObservacionMedicaId })
        </td>
    </tr>
}

</table>
