@model IEnumerable<DoctorWebASP.Models.ResultadoExamenMedico>

@{
    ViewBag.Title = "Resultados de Examenes Médicos";
}

<h1 style="text-align:center;">Resultado de Examenes Médicos</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ResultadoExamenMedicoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ResultadoExamenMedicoID })
        </td>
    </tr>
}

</table>
