@model DoctorWebASP.Models.ObservacionDeAtencionClinica
@{
    ViewBag.Title = "Eliminar Atención Clinica";
}
<h1 style="text-align:center;">Eliminar  Observación de Atención Clinica</h1>
<h3>Desea Eliminar esta Observación de Atención Clinica?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a lista de Observación de Atención Clinica", "Index")
        </div>
    }
</div>