@model IEnumerable<DoctorWebASP.Models.ObservacionDeAtencionClinica>

@{
    ViewBag.Title = "Observación de Atención Clinica";
}
<h1 style="text-align:center;">Crear nueva Observación de Atención Clinica</h1>
<p>
    @Html.ActionLink("Panel de Observación de Atención Clinica", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
               
            </td>
        </tr>
    }
</table>